<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday Feliii</title>

    <link rel="stylesheet" href="../../asset/style.css">

    <script src="../asset/main.js" defer></script>
    <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>
</head>
<body>
    <audio hidden autoplay loop>
        <source src="../asset/img/the night.mp3" type="audio/mp3">
    </audio>

    <button id="prev-btn">
        <i class="fas fa-arrow-circle-left"></i>
    </button>

    <div class="book" id="book">
        <div class="paper" id="p1">
            <div class="front">
                <div class="front-content" id="f1">
                    <img src="../asset/img/1.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b1">
                    <img src="../asset/img/2.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="paper" id="p2">
            <div class="front">
                <div class="front-content" id="f2">
                    <img src="../asset/img/3.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b2">
                    <img src="../asset/img/4.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="paper" id="p3">
            <div class="front">
                <div class="front-content" id="f3">
                    <img src="../asset/img/5.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b3">
                    <img src="../asset/img/6.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="paper" id="p4">
            <div class="front">
                <div class="front-content" id="f4">
                    <img src="../asset/img/7.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b4">
                    <img src="../asset/img/8.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="paper" id="p5">
            <div class="front">
                <div class="front-content" id="f5">
                    <img src="../asset/img/9.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <!-- <div class="back">
                <div class="back-content" id="b4">
                    <img src="../asset/img/8.png" style="width: 100%; height: 100%;" alt="">
                </div>
            </div> -->
        </div>
    </div>

    <button id="next-btn">
        <i class="fas fa-arrow-circle-right"></i>
    </button>
</body>
</html>